extends layout

block content
  h1= title
  p Welcome to #{title}

  //
    include ../README.md // This doesn't work - it parses weird characters. So instead, we hard code the markdown below for now. It'd be good to link to README.md eventually.

  :markdown-it
    ---------------------------------------------------------------------
    ## USAGE - REST METHODS
    ### GET 
    `http://localhost:3000/file/[fileName]`

    If no file name is provided, it will return all files in the temp directory. Otherwise, it will return the file that matches the file name.

    ### POST
    `http://localhost:3000/file/[fileName]`

    A file name is mandatory. This will create a file from the content provided in the body. If the file already exists, the contents will be replaced.

    Body (JSON):
    ```
        {"sample": "json"}
    ```
    ### DELETE
    `http://localhost:3000/file/[fileName]`

    If no file name is provided, it will delete all files in the temp directory. Otherwise, it will delete the file that matches the file name
